.Navigation {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background: #53a8b6;
  border-radius: 6px;
  color: #FFFFFF;

  .nav_menu {
    display: flex;
    flex-direction: column;


    .title {
      font-weight: 600;
      font-size: 16px;
    }

    ul {
      //margin-top: 32px;
      font-weight: 500;
      font-size: 14px;

      li {
        padding-top: 12px;
      }
    }

    .information {
      display: flex;
      justify-content: space-between;
    }
  }
}